*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
*:focus{
    outline: none;

}
body{
    position: relative;
    background: #dbdbdb;
    font-family: 'roboto',sans-serif;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #ffff;
    display: flex;
    align-items: center;
    padding: 0 2.5vw;
}

/* .toggle-btn{
    width: 20px;
    height: 10px;
    position: relative;
    cursor: pointer;
    background: #000;
}
.toggle-btn{
    position: absolute;
    width: 100%;
    height: 1px;
    top: 70%;
    transform: translateY(-50%);
    background: #000;

} */
/* .toggle-btn span:nth-child(1){
top: 0;
} 
.toggle-btn span:nth-child(3){
    top: 100; 
}*/
.logo{
    height: 40px;
    margin: 2px 5px 0;
}
.search-box{
    position: relative;
    max-width: 500px;
    padding-top: 0.5em;
    padding-left: 10em;
    padding-bottom: 0.5em;
    width: 100%;
    height: 80%;
    display: flex;
}
.search-bar{
    width: 100%;
    height: 100%;
    border: 2px solid #dbdbdb;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
}
.search-btn{
    width: 15%;
    height: 100%;
    background: #f0f0f0;
    border: 2px solid #dbdbdb;
    padding: 5px 0;
    border-left: none;
}
.search-btn img{
    height: 100%;
}
.users-options {
    height: 70px;
    display: flex;
    margin-left: auto;
    align-items: center;
}
.users-options a {
    height: 70px;
    display: flex;
    margin-left: auto;
    align-items: center;
}

.users-options  img:hover,
.users-options.active{
background: rgba(0,0,0,.1);
}

.users-options icon{
    height: 80%;
    margin-right: 10px;
    

    cursor: pointer;
}

.users-options  img{
    height: 100%;
    padding-bottom: 1.2em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.sidebar{
    position: fixed;
    top: 60px;
    left: 0;
    min-width: 30px;
    width: 70px;
    height: calc(100vh - 60px);
    background: #ffff;
    padding-top: 500px;
    padding-right: 10px;
    
}
.links{
    display: block;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;

}
.links img{
    height: 25px;
    margin-right: 20px;
}
.links:hover,
.links.active{
background: rgba(0,0,0,.1);
}

.footer{
    padding: 100px 0;
    background-color: #ffff;
    position: absolute;
    /* bottom: 0; */
    
    padding-left: 500px;
}
.footer .social{
text-align: center;
padding-bottom: 25px;
color:#4b4c4d ;
}
.footer .social a{
    font-size: 24px;
    color: black;
    border: 1px solid #242424 ;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 0.9%;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;


}
.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity:0.8;
}
.footer ul li{
display: inline-block;
padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #242424;
}
.content{
    display: flex;
}
.contact{
    background-color: rgb(162, 135, 114);
    color: #111;
}

.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.contact .title{
    text-align: center;
    text-decoration: underline rgba(81, 91, 96, 0.8);
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 60px;
    padding-bottom: 20px;
}


.contact .contact-content .column{
    width:100%;
}

.contact .contact-content .left{
    width: 45%;
}

.contact .contact-content .left .text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact .contact-content .left p{
    text-align: justify;
}

.contact .contact-content .left .icons{
    margin:10px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info{
      margin-left:30px;
}

.contact .contact-content .row i{
    font-size: 25px;
    color:rgba(80, 107, 121, 0.8)
}

.contact .contact-content .info .head{
    font-weight: 500;    
}

.contact .contact-content .info .sub-title{
    color:#333;
}

.contact .contact-content .right{
    width: 45%;
}

.contact .right form .fields{
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10px;
}

.contact .right form .name{
   margin-right: 10px;
}

.contact .right form .email{
    margin-left: 10px;
 }

 .contact .right form .textarea{
    height: 80px;
    width: 100%;
 }

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border:1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .textarea textarea{
   padding-top: 10px;
   resize: none;
}

.contact .right form .button{
    height: 47px;
    width: 170px;
}

.contact .right form .button button{
   width: 100%;
   height: 100%;
   border: 2px solid rgba(83, 91, 95, 0.8);
   background: rgba(83, 91, 95, 0.8);
   color: #fff;
   font-size: 20px;
   font-weight: 500;
   border-radius: 6px;
   cursor:pointer;
}

.contact .right form .button button:hover{
    color:rgba(83, 91, 95, 0.8);
    background: none;
}
